<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Football AI Game</title>
    <link rel="stylesheet" href="public/css/index.css">
</head>
<body>

  <div class="navbar">
    <ul>
        <li><a href="./">Home</a></li>
        <li><a href="./rules">Rules</a></li>
        <li><a href="https://github.com/Steinz0/FootBallGame-Apprentissage">Documentation</a></li>
    </ul>

    <form action="/logout?_method=DELETE" method="POST">
      <button type="submit" class="buttonLog"><span></span>Log Out</button>
    </form>
  </div>
  
  
  <div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
  </div>
  
  <div class="score">
    <p style="font-size: 1em;">Red Team <span id="redTeamScore"></span> - <span id="blueTeamScore"></span> Blue Team</p>
  </div>


  <div class="mid" id="mid">
    <div class="mid-left">
      <div class="files-forms">
        <div id='contain-table' style= "height: 120px; width: auto; overflow:auto;">
          <table id="table" border="1">
          </table>
        </div>
        <div class="file-choose">
          <div class="file-selected">File selected :</div>
          <div id="fname"></div>
        </div>
        <div class="button-file-forms">
          <button class="delete-button">Delete</button>
          <button class="file-button-show">Show</button>
        </div>
      </div>

      <div class="manages-AI-forms">
        <div class="team-selection">
          <div class="blue-AI">
            <label for="blue-AI">Blue Team</label>
                <select id="blue-choose-AI" class="blue-choose-AI">
                  <option value="static">Static</option>
                </select>
            </div>
          <div class="red-AI">
          <label for="red-AI">Red Team</label>
              <select id="red-choose-AI" class="red-choose-AI">
                <option value="static">Static</option>
              </select>
          </div>
        </div>
        <div class="buttons-manage-AI">
          <button id='button-train-ai' class="button-train-ai" onclick="console.log('TRAIN AI')">TRAIN YOUR AI</button>
          <button class="manage-AI-button">Submit</button>
        </div>
      </div>
    </div>

    <div class="mid-center" id="mid-center">
      <div class="manage">
        <div class="slidecontainer">
          <input type="range"
              min="0" max="2000" step=1 class="slider" value=0 id="myRange" disabled="true">
        </div>

        <div class="button-manage">

          <div class="new-game">
            <button id='bnew-game' class="bnew-game" onclick="window.location.href='./create'">NEW GAME</button>
          </div>

          <div class="play">
            <button id='breplay' class="breplay">PLAY</button>
          </div>

          <div class="important-snapshot">
            <button id='button-important-snapshot' class="button-important-snapshot" onclick="console.log('TEST')">IMPORTANT SNAPSHOT</button>
          </div>
        </div>
      </div>
    </div>


    <div class="mid-right">
      <div class='form-order' id='form-order'>
        <button class="close" id="close" onclick="document.getElementById('form-order').style.visibility = 'hidden'">CLOSE</button>
        <div class='forms' id="forms">
          <div id="name">name</div>
          <div id="x">x</div>
          <div id="y">y</div>
          <div class="choose-order">
            <label for="choose">Ordre</label>
            <select id="choose" class="choose">
              <option value="runAdvGoal">Courir - Cages adverses</option>
              <option value="runTeamGoal">Courir - Cages équipe</option>
              <option value="runBall">Courir - Vers la balle</option>
              <option value="runAway">Courir - Se démarquer</option>

              <option value="defendGoal">Défendre - Ligne de but</option>
              <option value="markBallHolder">Défendre - Porteur du ballon</option>
              <option value="markNearestBall">Défendre - Marquage du joueur libre</option>

              <option value="shootAdvGoal">Tirer - Cages adverses</option>
              <option value="passNearest">Tirer - Passe au plus proche</option>
              <option value="passFarthest">Tirer - Passe au plus lointain</option>
              <option value="crossGoal">Tirer - Centre devant les buts</option>
              <option value="clearBall">Tirer - Dégage la balle</option>

              <option value="dribbleAdvGoal">Dribbler - Cages adverses</option>
              <option value="dribbleTeammate">Dribbler - Coéquipier proche</option>
              <option value="dribbleAway">Dribbler - Loin des adversaires</option>
            </select>
          </div>
        </div>
        <button class="submit-button">Submit</button>
      </div>
    </div>

    <div class="firework" id="firework-left1">
      <div class="explosion"></div>
      <div class="explosion"></div>
      <div class="explosion"></div>
      <div class="explosion"></div>
      <div class="explosion"></div>
      <div class="explosion"></div>
      <div class="explosion"></div>
      <div class="explosion"></div>
      <div class="explosion"></div>
      <div class="explosion"></div>
      <div class="explosion"></div>
      <div class="explosion"></div>
    </div>

    <div class="firework" id="firework-left2">
      <div class="explosion"></div>
      <div class="explosion"></div>
      <div class="explosion"></div>
      <div class="explosion"></div>
      <div class="explosion"></div>
      <div class="explosion"></div>
      <div class="explosion"></div>
      <div class="explosion"></div>
      <div class="explosion"></div>
      <div class="explosion"></div>
      <div class="explosion"></div>
      <div class="explosion"></div>
    </div>

    <div class="firework" id="firework-left3">
      <div class="explosion"></div>
      <div class="explosion"></div>
      <div class="explosion"></div>
      <div class="explosion"></div>
      <div class="explosion"></div>
      <div class="explosion"></div>
      <div class="explosion"></div>
      <div class="explosion"></div>
      <div class="explosion"></div>
      <div class="explosion"></div>
      <div class="explosion"></div>
      <div class="explosion"></div>
    </div>

    <div class="fireworks-rights" id="fireworks-rights">
      <div class="firework" id="firework-right1">
        <div class="explosion"></div>
        <div class="explosion"></div>
        <div class="explosion"></div>
        <div class="explosion"></div>
        <div class="explosion"></div>
        <div class="explosion"></div>
        <div class="explosion"></div>
        <div class="explosion"></div>
        <div class="explosion"></div>
        <div class="explosion"></div>
        <div class="explosion"></div>
        <div class="explosion"></div>
      </div>
      <div class="firework" id="firework-right2">
        <div class="explosion"></div>
        <div class="explosion"></div>
        <div class="explosion"></div>
        <div class="explosion"></div>
        <div class="explosion"></div>
        <div class="explosion"></div>
        <div class="explosion"></div>
        <div class="explosion"></div>
        <div class="explosion"></div>
        <div class="explosion"></div>
        <div class="explosion"></div>
        <div class="explosion"></div>
      </div>
      <div class="firework" id="firework-right3">
        <div class="explosion"></div>
        <div class="explosion"></div>
        <div class="explosion"></div>
        <div class="explosion"></div>
        <div class="explosion"></div>
        <div class="explosion"></div>
        <div class="explosion"></div>
        <div class="explosion"></div>
        <div class="explosion"></div>
        <div class="explosion"></div>
        <div class="explosion"></div>
        <div class="explosion"></div>
      </div>
    </div>
    
  </div>
  
  
  <script src="dist/pixi-legacy.min.js"></script>
  <script src="dist/axios.min.js"></script>
  <script type='module' src="/public/js/game.js"></script>
  <script type='module' src="/public/js/classes.js"></script>
</body>
</html>