<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="public/css/index.css">
</head>
<body>
  <form action="/logout?_method=DELETE" method="POST">
    <button type="submit" class="buttonLog"><span></span>Log Out</button>
  </form>
  <div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
  </div>  
  <div class="score">
      <p style="font-size: 1em;">Blue Team <span id="blueTeamScore"></span> - <span id="redTeamScore"></span> Red Team</p>
  </div>
  <div class="mid">
    <div class='contain'>
      <div class='forms' id="forms">
        <div id="name"></div>
        <div id="x"></div>
        <div id="y"></div>
        <div class="choose-contain">
          <label for="choose">Ordre</label>
          <select id="choose" class="choose">
            <option value="runAdvGoal">Courir - Cages adverses</option>
            <option value="runTeamGoal">Courir - Cages équipe</option>
            <option value="runBall">Courir - Vers la balle</option>
            <option value="runAway">Courir - Se démarquer</option>

            <option value="defendGoal">Défendre - Ligne de but</option>
            <option value="markBallHolder">Défendre - Porteur du ballon</option>
            <option value="markNearestBall">Défendre - Marquage du joueur libre</option>

            <option value="shootAdvGoal">Tirer - Cages adverses</option>
            <option value="passNearest">Tirer - Passe au plus proche</option>
            <option value="passFarthest">Tirer - Passe au plus lointain</option>
            <option value="crossGoal">Tirer - Centre devant les buts</option>
            <option value="clearBall">Tirer - Dégage la balle</option>

            <option value="dribbleAdvGoal">Dribbler - Cages adverses</option>
            <option value="dribbleTeammate">Dribbler - Coéquipier proche</option>
            <option value="dribbleAway">Dribbler - Loin des adversaires</option>
          </select>
          <button class="submit-button">Submit</button>
        </div>
      </div>
    </div>
  </div>
  <div>File selected :</div>
  <div id="fname"></div>
  <div style= "height: 120px; width: auto; overflow:auto;">
    <table id="table" border="1">
    </table>
  </div>
  <div class="files">
    <div class="files-forms">
      <label>Choose File</label>
      <select name="file" id="file">
      </select>
      <button class="delete-button">Delete</button>
      <button class="file-button">Submit</button>
    </div>
  </div>
  <div class="slidecontainer">
    <input type="range"
        min="0" max="2000" step=1 class="slider" value=0 id="myRange" disabled="true">
  </div>
  <div class="play">
    <button id='breplay' class="breplay">PLAY</button>
  </div>
  <div class="test">
    <button id='test' class="test">TEST</button>
  </div>
  <div class="new-game">
    <button id='bnew-game' class="bnew-game" onclick="window.location.href='./create'">NEW GAME</button>
  </div>
  <script>
    let table = document.querySelector('#table'), rIndex;
    console.log(table)
    for (let i=0; i< table.rows.length; i++){
      table.rows[i].onclick = function() {
        rIndex = this.rowIndex;
        console.log(rIndex)
        console.log(this.cells[0].innerHTML)
        document.querySelector("#fname").innerHTML = 'File selected : ' + this.cells[0].innerHTML;
      }
    }
  </script>
  <script src="dist/pixi.min.js"></script>
  <script src="dist/axios.min.js"></script>
  <script type='module' src="/public/js/game.js"></script>
  <script type='module' src="/public/js/classes.js"></script>
</body>
</html>